@model LibraryManagementSystem.MVCWebUI.BookReservationListViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>
<body>
    <div>
        @foreach (var bookReservation in Model.BookReservations)
        {
            <div>@bookReservation.RezervePersonName</div>

            <div>@bookReservation.CreatedDate</div>
            <div>@bookReservation.RezervationNumber</div>

            <br />
        }
    </div>

</body>
</html>

